{
  "openapi": "3.1.0",
  "info": {
    "title": "PrivNode API",
    "version": "generated"
  },
  "servers": [
    {
      "url": "https://privnode.com"
    }
  ],
  "tags": [
    {
      "name": "api:about"
    },
    {
      "name": "api:beta"
    },
    {
      "name": "api:channel"
    },
    {
      "name": "api:creem"
    },
    {
      "name": "api:data"
    },
    {
      "name": "api:group"
    },
    {
      "name": "api:home_page_content"
    },
    {
      "name": "api:log"
    },
    {
      "name": "api:message"
    },
    {
      "name": "api:mj"
    },
    {
      "name": "api:models"
    },
    {
      "name": "api:notice"
    },
    {
      "name": "api:oauth"
    },
    {
      "name": "api:option"
    },
    {
      "name": "api:prefill_group"
    },
    {
      "name": "api:pricing"
    },
    {
      "name": "api:privacy-policy"
    },
    {
      "name": "api:ratio_config"
    },
    {
      "name": "api:ratio_sync"
    },
    {
      "name": "api:redemption"
    },
    {
      "name": "api:reset_password"
    },
    {
      "name": "api:setup"
    },
    {
      "name": "api:sso-beta"
    },
    {
      "name": "api:status"
    },
    {
      "name": "api:stripe"
    },
    {
      "name": "api:task"
    },
    {
      "name": "api:token"
    },
    {
      "name": "api:topup-coupon"
    },
    {
      "name": "api:uptime"
    },
    {
      "name": "api:usage"
    },
    {
      "name": "api:user"
    },
    {
      "name": "api:user-agreement"
    },
    {
      "name": "api:vendors"
    },
    {
      "name": "api:verification"
    },
    {
      "name": "api:verify"
    },
    {
      "name": "dashboard"
    },
    {
      "name": "jimeng"
    },
    {
      "name": "kling"
    },
    {
      "name": "migrate"
    },
    {
      "name": "playground"
    },
    {
      "name": "relay:v1"
    },
    {
      "name": "relay:v1beta"
    },
    {
      "name": "sso"
    }
  ],
  "paths": {
    "/api/about": {
      "get": {
        "tags": [
          "api:about"
        ],
        "summary": "GET /api/about",
        "operationId": "get_api_about",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/about",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.GetAbout"
      }
    },
    "/api/beta/remain_actual_paid_amount": {
      "get": {
        "tags": [
          "api:beta"
        ],
        "summary": "GET /api/beta/remain_actual_paid_amount",
        "operationId": "get_api_beta_remain_actual_paid_amount",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/beta/remain_actual_paid_amount",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.GetRemainActualPaidAmount"
      }
    },
    "/api/beta/self_quota_take_away": {
      "put": {
        "tags": [
          "api:beta"
        ],
        "summary": "PUT /api/beta/self_quota_take_away",
        "operationId": "put_api_beta_self_quota_take_away",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/beta/self_quota_take_away",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.SelfQuotaTakeAway"
      }
    },
    "/api/channel/": {
      "get": {
        "tags": [
          "api:channel"
        ],
        "summary": "GET /api/channel/",
        "operationId": "get_api_channel",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/channel/",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.GetAllChannels"
      },
      "post": {
        "tags": [
          "api:channel"
        ],
        "summary": "POST /api/channel/",
        "operationId": "post_api_channel",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/channel/",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.AddChannel"
      },
      "put": {
        "tags": [
          "api:channel"
        ],
        "summary": "PUT /api/channel/",
        "operationId": "put_api_channel",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/channel/",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.UpdateChannel"
      }
    },
    "/api/channel/batch": {
      "post": {
        "tags": [
          "api:channel"
        ],
        "summary": "POST /api/channel/batch",
        "operationId": "post_api_channel_batch",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/channel/batch",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.DeleteChannelBatch"
      }
    },
    "/api/channel/batch/tag": {
      "post": {
        "tags": [
          "api:channel"
        ],
        "summary": "POST /api/channel/batch/tag",
        "operationId": "post_api_channel_batch_tag",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/channel/batch/tag",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.BatchSetChannelTag"
      }
    },
    "/api/channel/copy/{id}": {
      "post": {
        "tags": [
          "api:channel"
        ],
        "summary": "POST /api/channel/copy/{id}",
        "operationId": "post_api_channel_copy_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/channel/copy/:id",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.CopyChannel"
      }
    },
    "/api/channel/disabled": {
      "delete": {
        "tags": [
          "api:channel"
        ],
        "summary": "DELETE /api/channel/disabled",
        "operationId": "delete_api_channel_disabled",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/channel/disabled",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.DeleteDisabledChannel"
      }
    },
    "/api/channel/fetch_models": {
      "post": {
        "tags": [
          "api:channel"
        ],
        "summary": "POST /api/channel/fetch_models",
        "operationId": "post_api_channel_fetch_models",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/channel/fetch_models",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.FetchModels"
      }
    },
    "/api/channel/fetch_models/{id}": {
      "get": {
        "tags": [
          "api:channel"
        ],
        "summary": "GET /api/channel/fetch_models/{id}",
        "operationId": "get_api_channel_fetch_models_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/channel/fetch_models/:id",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.FetchUpstreamModels"
      }
    },
    "/api/channel/fix": {
      "post": {
        "tags": [
          "api:channel"
        ],
        "summary": "POST /api/channel/fix",
        "operationId": "post_api_channel_fix",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/channel/fix",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.FixChannelsAbilities"
      }
    },
    "/api/channel/models": {
      "get": {
        "tags": [
          "api:channel"
        ],
        "summary": "GET /api/channel/models",
        "operationId": "get_api_channel_models",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/channel/models",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.ChannelListModels"
      }
    },
    "/api/channel/models_enabled": {
      "get": {
        "tags": [
          "api:channel"
        ],
        "summary": "GET /api/channel/models_enabled",
        "operationId": "get_api_channel_models_enabled",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/channel/models_enabled",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.EnabledListModels"
      }
    },
    "/api/channel/multi_key/manage": {
      "post": {
        "tags": [
          "api:channel"
        ],
        "summary": "POST /api/channel/multi_key/manage",
        "operationId": "post_api_channel_multi_key_manage",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/channel/multi_key/manage",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.ManageMultiKeys"
      }
    },
    "/api/channel/search": {
      "get": {
        "tags": [
          "api:channel"
        ],
        "summary": "GET /api/channel/search",
        "operationId": "get_api_channel_search",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/channel/search",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.SearchChannels"
      }
    },
    "/api/channel/tag": {
      "put": {
        "tags": [
          "api:channel"
        ],
        "summary": "PUT /api/channel/tag",
        "operationId": "put_api_channel_tag",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/channel/tag",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.EditTagChannels"
      }
    },
    "/api/channel/tag/disabled": {
      "post": {
        "tags": [
          "api:channel"
        ],
        "summary": "POST /api/channel/tag/disabled",
        "operationId": "post_api_channel_tag_disabled",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/channel/tag/disabled",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.DisableTagChannels"
      }
    },
    "/api/channel/tag/enabled": {
      "post": {
        "tags": [
          "api:channel"
        ],
        "summary": "POST /api/channel/tag/enabled",
        "operationId": "post_api_channel_tag_enabled",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/channel/tag/enabled",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.EnableTagChannels"
      }
    },
    "/api/channel/tag/models": {
      "get": {
        "tags": [
          "api:channel"
        ],
        "summary": "GET /api/channel/tag/models",
        "operationId": "get_api_channel_tag_models",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/channel/tag/models",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.GetTagModels"
      }
    },
    "/api/channel/test": {
      "get": {
        "tags": [
          "api:channel"
        ],
        "summary": "GET /api/channel/test",
        "operationId": "get_api_channel_test",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/channel/test",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.TestAllChannels"
      }
    },
    "/api/channel/test/{id}": {
      "get": {
        "tags": [
          "api:channel"
        ],
        "summary": "GET /api/channel/test/{id}",
        "operationId": "get_api_channel_test_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/channel/test/:id",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.TestChannel"
      }
    },
    "/api/channel/update_balance": {
      "get": {
        "tags": [
          "api:channel"
        ],
        "summary": "GET /api/channel/update_balance",
        "operationId": "get_api_channel_update_balance",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/channel/update_balance",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.UpdateAllChannelsBalance"
      }
    },
    "/api/channel/update_balance/{id}": {
      "get": {
        "tags": [
          "api:channel"
        ],
        "summary": "GET /api/channel/update_balance/{id}",
        "operationId": "get_api_channel_update_balance_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/channel/update_balance/:id",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.UpdateChannelBalance"
      }
    },
    "/api/channel/{id}": {
      "delete": {
        "tags": [
          "api:channel"
        ],
        "summary": "DELETE /api/channel/{id}",
        "operationId": "delete_api_channel_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/channel/:id",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.DeleteChannel"
      },
      "get": {
        "tags": [
          "api:channel"
        ],
        "summary": "GET /api/channel/{id}",
        "operationId": "get_api_channel_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/channel/:id",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.GetChannel"
      }
    },
    "/api/channel/{id}/key": {
      "post": {
        "tags": [
          "api:channel"
        ],
        "summary": "POST /api/channel/{id}/key",
        "operationId": "post_api_channel_id_key",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/channel/:id/key",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.GetChannelKey"
      }
    },
    "/api/creem/webhook": {
      "post": {
        "tags": [
          "api:creem"
        ],
        "summary": "POST /api/creem/webhook",
        "operationId": "post_api_creem_webhook",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/creem/webhook",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.CreemWebhook"
      }
    },
    "/api/data/": {
      "get": {
        "tags": [
          "api:data"
        ],
        "summary": "GET /api/data/",
        "operationId": "get_api_data",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/data/",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.GetAllQuotaDates"
      }
    },
    "/api/data/self": {
      "get": {
        "tags": [
          "api:data"
        ],
        "summary": "GET /api/data/self",
        "operationId": "get_api_data_self",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/data/self",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.GetUserQuotaDates"
      }
    },
    "/api/group/": {
      "get": {
        "tags": [
          "api:group"
        ],
        "summary": "GET /api/group/",
        "operationId": "get_api_group",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/group/",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.GetGroups"
      }
    },
    "/api/home_page_content": {
      "get": {
        "tags": [
          "api:home_page_content"
        ],
        "summary": "GET /api/home_page_content",
        "operationId": "get_api_home_page_content",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/home_page_content",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.GetHomePageContent"
      }
    },
    "/api/log/": {
      "delete": {
        "tags": [
          "api:log"
        ],
        "summary": "DELETE /api/log/",
        "operationId": "delete_api_log",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/log/",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.DeleteHistoryLogs"
      },
      "get": {
        "tags": [
          "api:log"
        ],
        "summary": "GET /api/log/",
        "operationId": "get_api_log",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/log/",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.GetAllLogs"
      }
    },
    "/api/log/search": {
      "get": {
        "tags": [
          "api:log"
        ],
        "summary": "GET /api/log/search",
        "operationId": "get_api_log_search",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/log/search",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.SearchAllLogs"
      }
    },
    "/api/log/self": {
      "get": {
        "tags": [
          "api:log"
        ],
        "summary": "GET /api/log/self",
        "operationId": "get_api_log_self",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/log/self",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.GetUserLogs"
      }
    },
    "/api/log/self/search": {
      "get": {
        "tags": [
          "api:log"
        ],
        "summary": "GET /api/log/self/search",
        "operationId": "get_api_log_self_search",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/log/self/search",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.SearchUserLogs"
      }
    },
    "/api/log/self/stat": {
      "get": {
        "tags": [
          "api:log"
        ],
        "summary": "GET /api/log/self/stat",
        "operationId": "get_api_log_self_stat",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/log/self/stat",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.GetLogsSelfStat"
      }
    },
    "/api/log/stat": {
      "get": {
        "tags": [
          "api:log"
        ],
        "summary": "GET /api/log/stat",
        "operationId": "get_api_log_stat",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/log/stat",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.GetLogsStat"
      }
    },
    "/api/log/token": {
      "get": {
        "tags": [
          "api:log"
        ],
        "summary": "GET /api/log/token",
        "operationId": "get_api_log_token",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/log/token",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.GetLogByKey"
      }
    },
    "/api/message/": {
      "get": {
        "tags": [
          "api:message"
        ],
        "summary": "GET /api/message/",
        "operationId": "get_api_message",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/message/",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.GetAdminMessages"
      },
      "post": {
        "tags": [
          "api:message"
        ],
        "summary": "POST /api/message/",
        "operationId": "post_api_message",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/message/",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.CreateMessage"
      }
    },
    "/api/message/self/": {
      "get": {
        "tags": [
          "api:message"
        ],
        "summary": "GET /api/message/self/",
        "operationId": "get_api_message_self",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/message/self/",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.GetMyMessages"
      }
    },
    "/api/message/self/read/batch": {
      "post": {
        "tags": [
          "api:message"
        ],
        "summary": "POST /api/message/self/read/batch",
        "operationId": "post_api_message_self_read_batch",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/message/self/read/batch",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.BatchReadMyMessages"
      }
    },
    "/api/message/self/unread": {
      "get": {
        "tags": [
          "api:message"
        ],
        "summary": "GET /api/message/self/unread",
        "operationId": "get_api_message_self_unread",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/message/self/unread",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.GetMyUnreadMessageCount"
      }
    },
    "/api/message/self/{id}/read": {
      "post": {
        "tags": [
          "api:message"
        ],
        "summary": "POST /api/message/self/{id}/read",
        "operationId": "post_api_message_self_id_read",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/message/self/:id/read",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.ReadMyMessage"
      }
    },
    "/api/message/template": {
      "get": {
        "tags": [
          "api:message"
        ],
        "summary": "GET /api/message/template",
        "operationId": "get_api_message_template",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/message/template",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.GetMessageTemplate"
      },
      "put": {
        "tags": [
          "api:message"
        ],
        "summary": "PUT /api/message/template",
        "operationId": "put_api_message_template",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/message/template",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.UpdateMessageTemplate"
      }
    },
    "/api/message/{id}": {
      "delete": {
        "tags": [
          "api:message"
        ],
        "summary": "DELETE /api/message/{id}",
        "operationId": "delete_api_message_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/message/:id",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.DeleteMessage"
      },
      "put": {
        "tags": [
          "api:message"
        ],
        "summary": "PUT /api/message/{id}",
        "operationId": "put_api_message_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/message/:id",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.UpdateMessage"
      }
    },
    "/api/message/{id}/copy": {
      "post": {
        "tags": [
          "api:message"
        ],
        "summary": "POST /api/message/{id}/copy",
        "operationId": "post_api_message_id_copy",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/message/:id/copy",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.CopyMessage"
      }
    },
    "/api/message/{id}/publish": {
      "post": {
        "tags": [
          "api:message"
        ],
        "summary": "POST /api/message/{id}/publish",
        "operationId": "post_api_message_id_publish",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/message/:id/publish",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.PublishMessage"
      }
    },
    "/api/message/{id}/retry": {
      "post": {
        "tags": [
          "api:message"
        ],
        "summary": "POST /api/message/{id}/retry",
        "operationId": "post_api_message_id_retry",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/message/:id/retry",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.RetryMessageDelivery"
      }
    },
    "/api/mj/": {
      "get": {
        "tags": [
          "api:mj"
        ],
        "summary": "GET /api/mj/",
        "operationId": "get_api_mj",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/mj/",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.GetAllMidjourney"
      }
    },
    "/api/mj/self": {
      "get": {
        "tags": [
          "api:mj"
        ],
        "summary": "GET /api/mj/self",
        "operationId": "get_api_mj_self",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/mj/self",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.GetUserMidjourney"
      }
    },
    "/api/models": {
      "get": {
        "tags": [
          "api:models"
        ],
        "summary": "GET /api/models",
        "operationId": "get_api_models",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/models",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.DashboardListModels"
      }
    },
    "/api/models/": {
      "get": {
        "tags": [
          "api:models"
        ],
        "summary": "GET /api/models/",
        "operationId": "get_api_models_9ed4e823",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/models/",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.GetAllModelsMeta"
      },
      "post": {
        "tags": [
          "api:models"
        ],
        "summary": "POST /api/models/",
        "operationId": "post_api_models",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/models/",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.CreateModelMeta"
      },
      "put": {
        "tags": [
          "api:models"
        ],
        "summary": "PUT /api/models/",
        "operationId": "put_api_models",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/models/",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.UpdateModelMeta"
      }
    },
    "/api/models/missing": {
      "get": {
        "tags": [
          "api:models"
        ],
        "summary": "GET /api/models/missing",
        "operationId": "get_api_models_missing",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/models/missing",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.GetMissingModels"
      }
    },
    "/api/models/search": {
      "get": {
        "tags": [
          "api:models"
        ],
        "summary": "GET /api/models/search",
        "operationId": "get_api_models_search",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/models/search",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.SearchModelsMeta"
      }
    },
    "/api/models/sync_upstream": {
      "post": {
        "tags": [
          "api:models"
        ],
        "summary": "POST /api/models/sync_upstream",
        "operationId": "post_api_models_sync_upstream",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/models/sync_upstream",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.SyncUpstreamModels"
      }
    },
    "/api/models/sync_upstream/preview": {
      "get": {
        "tags": [
          "api:models"
        ],
        "summary": "GET /api/models/sync_upstream/preview",
        "operationId": "get_api_models_sync_upstream_preview",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/models/sync_upstream/preview",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.SyncUpstreamPreview"
      }
    },
    "/api/models/{id}": {
      "delete": {
        "tags": [
          "api:models"
        ],
        "summary": "DELETE /api/models/{id}",
        "operationId": "delete_api_models_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/models/:id",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.DeleteModelMeta"
      },
      "get": {
        "tags": [
          "api:models"
        ],
        "summary": "GET /api/models/{id}",
        "operationId": "get_api_models_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/models/:id",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.GetModelMeta"
      }
    },
    "/api/notice": {
      "get": {
        "tags": [
          "api:notice"
        ],
        "summary": "GET /api/notice",
        "operationId": "get_api_notice",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/notice",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.GetNotice"
      }
    },
    "/api/oauth/discord": {
      "get": {
        "tags": [
          "api:oauth"
        ],
        "summary": "GET /api/oauth/discord",
        "operationId": "get_api_oauth_discord",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/oauth/discord",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.DiscordOAuth"
      }
    },
    "/api/oauth/email/bind": {
      "get": {
        "tags": [
          "api:oauth"
        ],
        "summary": "GET /api/oauth/email/bind",
        "operationId": "get_api_oauth_email_bind",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/oauth/email/bind",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.EmailBind"
      }
    },
    "/api/oauth/github": {
      "get": {
        "tags": [
          "api:oauth"
        ],
        "summary": "GET /api/oauth/github",
        "operationId": "get_api_oauth_github",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/oauth/github",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.GitHubOAuth"
      }
    },
    "/api/oauth/linuxdo": {
      "get": {
        "tags": [
          "api:oauth"
        ],
        "summary": "GET /api/oauth/linuxdo",
        "operationId": "get_api_oauth_linuxdo",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/oauth/linuxdo",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.LinuxdoOAuth"
      }
    },
    "/api/oauth/oidc": {
      "get": {
        "tags": [
          "api:oauth"
        ],
        "summary": "GET /api/oauth/oidc",
        "operationId": "get_api_oauth_oidc",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/oauth/oidc",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.OidcAuth"
      }
    },
    "/api/oauth/state": {
      "get": {
        "tags": [
          "api:oauth"
        ],
        "summary": "GET /api/oauth/state",
        "operationId": "get_api_oauth_state",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/oauth/state",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.GenerateOAuthCode"
      }
    },
    "/api/oauth/telegram/bind": {
      "get": {
        "tags": [
          "api:oauth"
        ],
        "summary": "GET /api/oauth/telegram/bind",
        "operationId": "get_api_oauth_telegram_bind",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/oauth/telegram/bind",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.TelegramBind"
      }
    },
    "/api/oauth/telegram/login": {
      "get": {
        "tags": [
          "api:oauth"
        ],
        "summary": "GET /api/oauth/telegram/login",
        "operationId": "get_api_oauth_telegram_login",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/oauth/telegram/login",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.TelegramLogin"
      }
    },
    "/api/oauth/wechat": {
      "get": {
        "tags": [
          "api:oauth"
        ],
        "summary": "GET /api/oauth/wechat",
        "operationId": "get_api_oauth_wechat",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/oauth/wechat",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.WeChatAuth"
      }
    },
    "/api/oauth/wechat/bind": {
      "get": {
        "tags": [
          "api:oauth"
        ],
        "summary": "GET /api/oauth/wechat/bind",
        "operationId": "get_api_oauth_wechat_bind",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/oauth/wechat/bind",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.WeChatBind"
      }
    },
    "/api/option/": {
      "get": {
        "tags": [
          "api:option"
        ],
        "summary": "GET /api/option/",
        "operationId": "get_api_option",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/option/",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.GetOptions"
      },
      "put": {
        "tags": [
          "api:option"
        ],
        "summary": "PUT /api/option/",
        "operationId": "put_api_option",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/option/",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.UpdateOption"
      }
    },
    "/api/option/migrate_console_setting": {
      "post": {
        "tags": [
          "api:option"
        ],
        "summary": "POST /api/option/migrate_console_setting",
        "operationId": "post_api_option_migrate_console_setting",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/option/migrate_console_setting",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.MigrateConsoleSetting"
      }
    },
    "/api/option/rest_model_ratio": {
      "post": {
        "tags": [
          "api:option"
        ],
        "summary": "POST /api/option/rest_model_ratio",
        "operationId": "post_api_option_rest_model_ratio",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/option/rest_model_ratio",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.ResetModelRatio"
      }
    },
    "/api/prefill_group/": {
      "get": {
        "tags": [
          "api:prefill_group"
        ],
        "summary": "GET /api/prefill_group/",
        "operationId": "get_api_prefill_group",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/prefill_group/",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.GetPrefillGroups"
      },
      "post": {
        "tags": [
          "api:prefill_group"
        ],
        "summary": "POST /api/prefill_group/",
        "operationId": "post_api_prefill_group",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/prefill_group/",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.CreatePrefillGroup"
      },
      "put": {
        "tags": [
          "api:prefill_group"
        ],
        "summary": "PUT /api/prefill_group/",
        "operationId": "put_api_prefill_group",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AnyJSON"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/prefill_group/",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.UpdatePrefillGroup"
      }
    },
    "/api/prefill_group/{id}": {
      "delete": {
        "tags": [
          "api:prefill_group"
        ],
        "summary": "DELETE /api/prefill_group/{id}",
        "operationId": "delete_api_prefill_group_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyJSON"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-gin-path": "/api/prefill_group/:id",
        "x-gin-handler": "github.com/QuantumNous/new-api/controller.DeletePrefillGroup"
      }
    },
    "/api/pricing": {
      "get": {
        "tags": [
          "api:pricing"
        ],
        "summary": "GET /api/pricing",
        "operationId": "get_api_pricing",
        "responses": {
          "200": {
[...]
